SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

0 * * * * cd /var/www/html && /usr/local/bin/php bin/console calendar:import:sync --force
*/15 * * * * cd /var/www/html && /usr/local/bin/php bin/console workflow:process-scheduled
0 3  * * * cd /var/www/html && /usr/local/bin/php bin/console app:purge-logs --days=90
