<div class="row">
    <div class="col-md-10 col-md-offset-1">
{#        {{ template.name }}#}
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {{ template|raw }}
    </div>
</div>
