<div data-controller="reservations" data-select-url="{{ path('settings.templates.select.reservation')}}">
{% include 'Reservations/reservation_form_select_reservation_fields.html.twig' %}
<div class="modal-footer {% if objectContainsReservations == "false" %} d-none {% endif %}">
    <ul class="pagination ms-auto">
        <li class="page-item">
            <a class="page-link" href="#"
               data-action="click->reservations#selectReservationAction"
               data-url="{{ path('settings.templates.select.reservation') }}">{{ 'button.continue'|trans }} &rarr;</a>
        </li>
    </ul>
</div>
</div>
