<form id="template-form-{{ template.id }}" class="form-horizontal" role="form" onsubmit="return saveEntity({{ template.id }})">
    <div class="modal-body pl-5 pr-5">
        <div class="row" id="flash-message-overlay">
            <div class="col">
            </div>
        </div>
            {% include 'Templates/templates_form_input_fields.html.twig' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
</form>
