# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

LOCALE=de

# this is used for loading uploaded files embedded in a PDF Template, the host of the web server must be set
# in a docker environment the internal host name of the web container must be specified, e.g. "http://web"
# otherwise the host name of your web server must be set, e.g. https://pve
WEB_HOST=http://web

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
#
# define database server version
# when using maria db use the following syntax: mariadb-10.3.15
# see https://symfony.com/doc/current/reference/configuration/doctrine.html#doctrine-dbal-configuration
DB_SERVER_VERSION=5.6
###< doctrine/doctrine-bundle ###

### mailer settings ###
FROM_MAIL=info@domain.tld
FROM_NAME="PENSION XY"
RETURN_PATH=info@domain.tld
# sent copy of mail to the address specified in FROM_MAIL
MAIL_COPY=false
### mailer settings ###

### redis settings (only used when APP_ENV is set to "redis") ###
REDIS_IDX=1
REDIS_HOST=redis

###> symfony/mailer ###
# e.g. smtp://username:password@yourdomain.tld:port
MAILER_DSN=null://localhost
###< symfony/mailer ###
