body {
    font-size: 0.9rem
}

.btn {
    font-size: 0.9rem;
}

.dropdown-menu {
    font-size: 0.9rem;
}

.popover-body, .popover-header {
    font-size: 0.9rem;
}

.form-switch > .form-check-input {
    margin-top: .25em;
    margin-right: .75em;
}

.login {
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    background-color: #F5F5F5;
}

.button-hidden {
    visibility: hidden;
}

.two-td-left {
    border-right: none !important;
}

.two-td-right {
    border-left: none !important;
}

.reservation {
    border-left: none !important;
    border-right: none !important;
    padding: 8px 2px !important;
}

.reservation-inner {
    border: 1px solid #666;
    color: #fff;
    padding: 3px;
}

.reservation-confirmed {
    background-color: #2D9434;
}

.reservation-option {
    background-color: #f6e95c;
    color: #666;
    border-color: #999;
}

.reservation-table-weekend-single {
    background-color: #EEE !important;
}

.mouse-pointer {
    cursor: pointer;
}

.border-left-thick {
    border-left: 2px solid #ddd;
}

.cell-selected {
    background-color: #f5f5f5;
}

.table-reservation .ui-selecting, .table-reservation-year .ui-selecting { 
    background: #FECA40 !important;
}
.table-reservation .ui-selected, .table-reservation-year .ui-selected { 
    background: #F39814;
}

.table-reservation .table-days > th {
    position: relative;
}

/* remove border because of box-shadow for sticky header */
.table.table-sticky,.table-sticky tbody tr:first-child { 
    border-top: 0 !important;
}

/* remove border because of box-shadow for sticky header */
.table-sticky thead tr, .table-sticky thead th { 
    border-top: 0 !important; 
    border-bottom: 0 !important;
}

.table-responsive { position: relative; }

.table.table-sticky thead th, .table.table-sticky thead td {
  position: sticky;
  z-index: 3;
  /* fester Hintergrund, damit nichts durchscheint */
  background-color: var(--bs-table-bg, var(--bs-body-bg));
  /* klare Unterkante auch bei border-collapse */
  box-shadow: inset 0 -1px 0 var(--bs-border-color);
  background-clip: padding-box; /* verhindert „Border-Bleeding“ */
}

.table.table-sticky thead tr:first-child td{
  /* top + bottom Schatten kombinieren: */
  box-shadow:
    inset 0  1px 0 var(--bs-border-color),  /* obere Linie */
    inset 0 -1px 0 var(--bs-border-color);  /* untere Linie */
}

/* left sticky column in reservation overview*/
.table.table-sticky tbody tr > *:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: var(--bs-table-bg, var(--bs-body-bg));
  box-shadow: 
    inset  1px 0 0 var(--bs-border-color), /* linke Linie */
    inset -1px 0 0 var(--bs-border-color); /* rechte Linie */
  background-clip: padding-box;
  border-right: 0;
  border-left: 0;
}

.table.table-sticky tbody tr > *:nth-child(2) {
  border-left: 0;
}


.reservation-table-weekend {
    background-color: #EEE !important;
}


/* remove bottom border of tr for multiple reservations of one apartment (select tr where the next tr has border-top-0 class) */
#reservation-table tr:has( + .border-top-0) {
    border-bottom: 0 !important;
}

#reservation-table .room-info {
    white-space: nowrap;
    vertical-align: middle;
}

/* fix for autocomplete not  shown */
.ui-front { 
    z-index: 9999; 
}

.price-period .badge {
    font-size: 90%;
    margin: 4px;
}

.badge .close {
    margin-left: .25rem;
    color: inherit;
    font-size: medium;
    font-weight: bold;
}

/* yearly reservation overview */
.reservation-yearly-parent { 
    padding: 0 !important; 
    position: relative; 
    overflow:hidden; 
}

.no-pointer-events {
    pointer-events: none;
}

div .reservation-yearly {
    padding: .5rem;
    width: 100%; 
    height: 100%;
    pointer-events: auto; 
    z-index: 1;
    cursor: pointer;
}

div .reservation-yearly-day {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 2; 
    padding: .5rem;
}
.month-reservationstartend {
    flex: 1 0 100%;
}
.month-reservation-end {
    transform: skewY(-45deg);
    transform-origin: bottom left;
}

.month-reservation-start {
    transform: skewX(-45deg);
    transform-origin: top right;
}
.month-reservation-onlystart {
    transform: skewY(-45deg);
}

.dummy-day {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: unset;
    pointer-events: auto;
    z-index: 1;
}
.month-reservation-start.dummy-day {
    left: 1.4rem;
}

.month-reservation-end.dummy-day {
    left: -1.4rem;
    transform: skewX(-45deg);
}

/*
 * Forms
 */
/* reduce default font size of labels in modals */
.modal-body .col-form-label {
    font-size: 14px;
}

/* add hint to required fields */
#accordionSettings label.required:after {
    content: " *";
}
