body {
    font-size: 0.9rem
}

.btn {
    font-size: 0.9rem;
}

.dropdown-menu {
    font-size: 0.9rem;
}

.popover-body, .popover-header {
    font-size: 0.9rem;
}

.form-switch > .form-check-input {
    margin-top: .25em;
    margin-right: .75em;
}

.login {
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    background-color: #F5F5F5;
}

.button-hidden {
    visibility: hidden;
}

.two-td-left {
    border-right: none !important;
}

.two-td-right {
    border-left: none !important;
}

.reservation {
    border-left: none !important;
    border-right: none !important;
    padding: 8px 2px !important;
}

.reservation-inner {
    border: 1px solid #666;
    color: #fff;
    padding: 3px;
}

.reservation-confirmed {
    background-color: #2D9434;
}

.reservation-option {
    background-color: #f6e95c;
    color: #666;
    border-color: #999;
}

.reservation-table-weekend {
    background-color: #EEE;
}

.mouse-pointer {
    cursor: pointer;
}

.border-left-thick {
    border-left: 2px solid #ddd;
}

.cell-selected {
    background-color: #f5f5f5;
}

.table-reservation .ui-selecting { background: #FECA40; }
.table-reservation .ui-selected { background: #F39814; }

/* fix for autocomplete not  shown */
.ui-front { 
    z-index: 9999; 
}

/* reduce default font size of labels in modals */
.modal-body .col-form-label {
    font-size: 14px;
}

.price-period .badge {
    font-size: 90%;
    margin: 4px;
}

.badge .close {
    margin-left: .25rem;
    color: inherit;
    font-size: medium;
    font-weight: bold;
}
