<form id="entity-form-new" class="form-horizontal" role="form" onsubmit="return createNewJournal()">
    <div class="modal-body pl-5 pr-5">
        <div class="container-fluid">
            <div id="flash-message-overlay">
                <div class="col">
                </div>
            </div>
            {% include 'CashJournal/journal_journal_input_fields.html.twig' %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
</form>
