<div class="col-md-auto">
    <input type="date" class="form-control mb-2 me-sm-2" id="start" name="start" value="{{ today|date('Y-m-d') }}" />
</div>
<div class="col-md-auto d-flex align-items-center">
    <input type="number" class="form-control mb-2 me-sm-2" name="interval" value="{{ interval }}" min="8" max="180" />
    <span class="form-text mb-0">{{ 'reservation.days'|trans }}</span>
</div>
