<div class="modal-body">
    <div class="pl-5 pr-5">
        <div class="row">
            <div class="col" id="flash-message-overlay">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if template.templateType.name == 'TEMPLATE_RESERVATION_EMAIL' %}
                    {% include 'Reservations/reservation_form_preview_template_email.html.twig' %}
                {% elseif template.templateType.name == 'TEMPLATE_FILE_PDF' or template.templateType.name == 'TEMPLATE_RESERVATION_PDF'%}
                    {% include 'Reservations/reservation_form_preview_template_file.html.twig' %}
                {% endif %}                
            </div>
        </div>
    </div>
</div>
<div id="createNewCustomerFooter" class="modal-footer">
    <ul class="pagination mr-auto">
        <li class="page-item " onclick="return selectTemplateForReservations()">
            <a class="page-link" href="#">&larr; {{ 'button.back'|trans }}</a></li>
    </ul>  
</div>
<script>
    $(function()
    {
        if(tinymce.get("editor1") !== null)
            tinymce.get("editor1").remove();

        tinymce.init({
            selector: '#editor1',
            language: '{{ app.request.locale }}',
            branding: false,
            plugins: ['fullpage']
        });
    });
</script>