{% if apartment.multipleOccupancy %}
    <p><span class="text-info"><i class="fas fa-info-circle"></i> {{ 'reservation.table.view.yearly.multiple.hint'|trans }}</span></p>
{% endif %}
<div id="calendar" class="row justify-content-md-center"
     data-reservations-apartment-id="{{ apartment.id }}"
     data-reservations-yearly="true">
    {% for i in 1..12 %}
    <div class="col-md-auto">
        {% include 'Reservations/reservation_table_month.html.twig' with {year: year, month: i, apartment: apartment} %}
    </div>
    {% endfor %}
</div>
