<form id="entry-form-new" role="form" onsubmit="return createNewUser();">
    <div class="modal-body pl-5 pr-5">
        <div id="flash-message-overlay">
        </div>
        <div class="row">
            <div class="col-md-11">
                {% include 'Users/user_form_input_fields.html.twig' %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'button.cancel'|trans }}</button>
        <input type="submit" value="{{ 'button.save'|trans }}" class="btn btn-primary"/>
    </div>
</form>
